/* GLOBAL */
html * {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.app {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #33302c;
}

/* GRID STYLES */
#circle-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin: 0 auto;
  flex-wrap: wrap;
  min-width: 300px;
}
.circle,
.container {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  margin: 5px;
}
.circle {
  border: 0.5vw solid #ffcfa4;
}
.container.inactive {
  border: 3px solid white;
}
.container.active {
  border: none;
}
.circle {
  cursor: grab;
}
.container.active .circle {
  /* box-shadow: 0 0 10px #ffcfa4, 0px 0 5px #ffce87, 0px 0px 5px #ffc5a9; */
  box-shadow: 2px 2px 15px #ffc5a9;
}
.container.inactive {
  opacity: 0;
  /* transition: opacity 0.1s ease; */
}
.container.inactive.visible {
  opacity: 1;
  /* transition: opacity 0.1s ease; */
}
.container.hovered {
  border: 3px dotted white;
}
.container.active {
  border: none;
}

.row {
  display: flex;
  flex-direction: row;
}

/* CIRCLE COLOR STYLES */
