/* GLOBAL */
html * {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.app {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #33302c;
}

/* GRID STYLES */
#circle-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin: 0 auto;
  flex-wrap: wrap;
  min-width: 300px;
}
.circle,
.container {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  margin: 5px;
}
.row {
  display: flex;
  flex-direction: row;
}

/* CIRCLE SPECIFIC STYLES */
.circle {
  cursor: grab;
  border: 0.5vw solid #ffcfa4;
  transition: transform 0.2s ease;
}
.circle:not(.wobble):hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}
.circle.wobble {
  animation: shake 1s ease infinite;
}
.container.active .circle {
  box-shadow: 2px 2px 15px #ffc5a9;
}

/* CONTAINER STATE STYLES */
.container.inactive {
  border: 3px solid white;
}
.container.active {
  border: none;
}
.container.inactive {
  opacity: 0;
}
.container.inactive.visible {
  opacity: 1;
}
.container.hovered {
  border: 3px dotted white;
}
.container.active {
  border: none;
}

/* ANIMATION */
@keyframes shake {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}
