/* GLOBAL */
html * {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.app {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* GRID STYLES */
#circle-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin: 0 auto;
  flex-wrap: wrap;
  min-width: 300px;
}
.circle,
.container {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  border: 3px solid black;
  min-width: 30px;
  min-height: 30px;
  margin: 3px;
}
.container.active {
  border: none;
}
.circle {
  cursor: grab;
}
.container.active .circle {
  border-color: red;
}
.container.inactive {
  opacity: 0;
  /* transition: opacity 0.1s ease; */
}
.container.inactive.visible {
  opacity: 0.5;
  /* transition: opacity 0.1s ease; */
}
.container.hovered {
  border: 3px dotted black;
}
.container.active {
  border: none;
}

.row {
  display: flex;
  flex-direction: row;
}

/* CIRCLE COLOR STYLES */
